* {
  color : #bfbfbf;
  font-family: "Helvetica Neue",Arial,sans-serif;
  margin: 0;
  padding: 0;
}
html, body, main {
  height: 100%;
  width: 100%;
}

.hidden {
  display: none;
}

body {
  background: #262626;
}

h1 {
  font-size: 1.5em;
  text-align: center;
}
