* {
  color : #bfbfbf;
  font-family: "Helvetica Neue",Arial,sans-serif;
  margin: 0;
  padding: 0;
  --dark: rgb(25, 28, 27);
  --grey: rgba(36, 36, 36);
}
body {
  height: 100%; width: 100%;
  background: var(--dark);
}

.hidden {
  display: none;
}

h1 {
  font-size: 1.5em;
  text-align: center;
}
