* {
  color : #bfbfbf;
}

body, main {
  background: #262626;
}

table {

}

tr {

}
th {
  border: 1px solid black;

  width: 100px;
  height: 2em;
}
td {
  position: relative;
  width: 100px;
  height: 2em;
  border: 1px solid black;
}
