#ui {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(36, 36, 36, 0.9);
  height: 100%;
  padding: 1%;
  width: 20%;
}

ul {
  width: inherit;
}

li {
  width: inherit;
  list-style: none;
  display: flex;
}

input {
  border: 2px solid transparent;
  border-radius: 5px;
  flex-grow: 1;
  height: 1.5em;
  line-height: 1.5em;
  margin: 3px;
  text-indent: 5px;
  background: rgba(0, 0, 0, 0.2);
  outline: none;
  transition: 0.2s;
}

input:hover {
  background: rgba(0, 0, 0, 0.1);
}

input:active, input:focus {
  border: 2px solid rgba(255, 255, 255, 0.20);
}

.include-group {
  width: 20px;
  flex-grow: 0;
}

.cross {
  position: absolute;
  cursor: pointer;
  top: calc(-1.5em - 5px);
  right: 0;

  width: 1.5em;
  height: 1.5em;
  font-size: 1em;
  line-height: 1.5em;
  text-align: center;

  border: none;
  margin-top: 5px;
  margin-right: 2px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.2);
  outline: none;

  font-weight: bold;
  transition: 0.2s;
}

:hover > .cross, :focus > .cross, .cross:focus {
  top: 0;
  transition: 0.4s;
}

.cross:hover, .cross:focus {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 1em 1em rgba(0, 0, 0, 0.1);
}
